form{
    width: 400px;
    border-radius: 25px;
    background-color: #888888;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: end;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-weight: bold;
}
:root{
    --primary_color: #135D04;
}
header{
    display: flex;
    justify-content: center;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    > h2{
        font-size: 1.8em;
        color: #ffffff;
    }
    > img{ /*Para o ícone*/
        height: 32px;
        width: 32px;
        border: #000000;
        border-style: solid;
        border-radius: 100%;
        border-width: 1px;
    }
}
header, main{
    background-color: var(--primary_color);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    > *{
        align-self: center;
    }
}
label{
    font-size: 12px;
}
p, label{
    color: #eeeeee;
}
a{
    color: #59aefd;
    text-decoration-line: none;
    font-size: 14px;
}
input{
    height: 25px
}
.submit{
    margin-top: 10px;
    width: 100px;
    align-self: center;
    border-radius: 10px;
    background-color: var(--primary_color);
    border-color: #033D04;
    color: #eeeeee;
}
.submit:hover{
    background-color: #034D04;
}