* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background: #fdedd2;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header{
    background-color: #107025;
    display: flex;
    justify-content: space-between;
}
main{
    background-color: #16ac36;
    flex: 1;
}
footer{
    background-color: #006015;
}