* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 
}
header{
    padding: 20px;
    margin-top: 10px;
    margin-left: 5px;
    top: 0;
    left: 0;
    z-index: 999px;
    width:99%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    background-color: #3432c7;
    display: flex;
    justify-content: space-between;
    border-radius: 5px 5px 10px 10px;
    position: fixed;
    
}



.frag{
    font-size: 30px;
}


/* texto de boas vindas ao site*/
.boasv{
  padding: 20px;
  margin-top: 70px;
}

.not{
    display: flex;
    justify-content: space-between; /* Espaço entre os cards */
    gap: 20px; /* Espaço entre as colunas */
    flex-wrap: wrap; /* Permite que eles pulem de linha no celular */
}

.card {
    padding: 20px;
    margin: 20px;
    color: #000000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 20px;
    width: 25%;
    height: 10%;
    justify-content: space-between;
    box-sizing: border-box;
}

.card img {
    border-radius: 20px;
    width: 250px;
}

/*estilização do botão de login*/
.btn-login {
    background: #000000;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    transition: 0.3s;
}

/*esse hover é o efeito que da quando passa o mouse em cima*/

.btn-login:hover {
    background: #4bf89c;
    transform: scale(1.05);
}

main{
    background-color: #ffffff;
    flex: 1;
}
footer{
    padding: 7px;
    background-color: #3432c7;
    border-radius: 20px 20px 0px 0px;
}


/*responsividade para telas menores que 600px*/
@media (max-width: 600px) {
    .card {
        width: 100%; /* Card ocupa a tela toda no celular */
    }
}



.logofrag {
justify-content: flex-start;
}